* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    flex-direction: column;
    background-image: url('background_image.jpg'); 
    background-size: cover; 
    background-position: center;
}

.debate-page {
    text-align: center;
    margin-top: -20px;
}

.debate-page h2 {
    color: whitesmoke;
    font-size: x-large;
    margin-top: -50px; 
}

.debate-options {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
}

.option {
    text-align: center;
    flex: 1;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}


.option h3 {
    /* color: #f04c23; */
    font-size: larger;
}

.option p {
    margin-bottom: 10px; 
    color: white; 
    font-size: medium; 
}

button.join {
    background-color: limegreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}